{% extends 'base.html' %}

{% block title %} Maktab CRM - O'quvchi ma'lumotlari {% endblock %}

{% block content %}
    <main>
        <h1>O'quvchi ma'lumotlari</h1>
        <div class="student-details">
            <div class="student-info">
                <img src="{{ students.rasm.url }}" style="width: 400px; height: 300px;" alt="O'quvchi rasmi" id="studentImage" class="student-image">
                <h2 id="studentName">{{ students.ismi }} {{ students.familiya }}</h2>
                <p>ID: <span id="studentId">{{ students.id }}</span></p>
                <p>Guruh: <span id="studentGroup">{{ students.guruh}}</span></p>
                <p>Tug'ilgan sana: <span id="studentBirthDate">{{ students.dob | date:"Y-m-d" }}</span></p>
                <p>Telefon: <span id="studentPhone">+{{ students.telefon }}</span></p>
                <p>Manzil: <span id="studentAddress">{{ students.manzil }}</span></p>
            </div>
            <div class="student-grades">
                <h3>Baholar</h3>
                <table id="gradesTable">
                    <thead>
                        <tr>
                            <th>Fan</th>
                            <th>Baho</th>
                            <th>Sana</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Matematika</td>
                            <td>4</td>
                            <td>2024-05-01</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <br>
        <div class="actions">
            <a href="{% url 'students:update' pk=students.pk %}" class="btn"><i class="fas fa-edit"></i> Tahrirlash</a>
            <a href="{% url 'students:list' %}" class="btn">Ortga </a>
            <a href="{% url 'students:delete' pk=students.pk %}"><button id="deleteStudent" class="btn btn-danger"><i class="fas fa-trash"></i> O'chirish</button></a>
        </div>
    </main><br>br
{% endblock %}