{% extends 'base.html' %}

{% block title %}{% if subjects %} Maktab CRM - Fan Tahrirlash {% else %} Maktab CRM - Yangi fan yaratish {% endif %} {% endblock %}

{% block content %}
    <main>
        <h1>{% if subjects %} Fan tahrirlash  {% else %} Yangi fan yaratish {% endif %} </h1>
        <form id="createTeacherForm" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <label for="nomi">Fan nomi:</label>
                <input type="text" id="nomi" name="nomi" placeholder="Fan nomini kiriting" value="{{ subjects.nomi }}" required>
            </div>
            <br>
            <div class="actions">
                {% if subjects %}
                    <button type="submit" class="btn"><i class="fas fa-save"></i> Tahrirlash </button>
                    <a href="{% url 'subjects:list' %}" class="btn btn-secondary"><i class="fas fa-times"></i> Bekor qilish </a>
                {% else %}
                    <button type="submit" class="btn"><i class="fas fa-save"></i> Saqlash </button>
                    <a href="{% url 'subjects:list' %}" class="btn btn-secondary"><i class="fas fa-times"></i> Bekor qilish </a>
                {% endif %}
            </div>
        </form>
    </main>
{% endblock %}