{% extends 'base.html' %}

{% block title %} Maktab CRM - Gurupa ma'lumotlarini o'chirish {% endblock %}

{% block content %}
    <main>
        <section class="page-header">
            <h1>Gurupa ma'lumotlarini o'chirish </h1>
            <a href="{% url 'groups:list' %}" class="btn"><i class="fas fa-arrow-left"></i> O'rqaga </a>
        </section>

        <section class="delete-confirm glass-effect">
            <h2>Haqiqatan ham bu malumotni oʻchirib tashlamoqchimisiz?</h2>
            <div class="music-info">
                <div class="music-details">
                    <h3>{{ groups.nomi }}</h3>
                    <p>{{ groups.sinf }}t</p>
                </div>
            </div>
            <p class="warning">Bu amalni ortga qaytarib bo‘lmaydi.</p>
            <div class="action-buttons">
                <a href="{% url 'groups:list' %}" class="btn btn-secondary">Bekor qilish</a>
                <form action="#" method="POST" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">O'chirish</button>
                </form>
            </div>
        </section>
    </main>
{% endblock %}